data/__pycache__
data/__pycache__/*
/notes.txt
data/models
data/models/*
data/temp
data/temp/*
data/.pytest_cache
data/tests/.pytest_cache
data/src/__pycache__
data/src/__pycache__/*
data/src/.pytest_cache
data/src/.pytest_cache/*
data/.coverage
data/src/.coverage
data/tests/__pycache__
data/tests/__pycache__/*
data/tests/.coverage
data/tests/temp_test_files
data/tests/temp_test_files/*