.Nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.Navbar {
    display: flex;
}

.Navbar-title {
    font-size: xx-large;
    font-weight: bolder;
}

nav {
    width: 90%;
}

@media screen and (max-width: 666px) {
    /* todo - for navbar can change class in js add/remove on click to then use for styling */
}