.Nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 60%;
}

.Navbar {
    display: flex;
}

.Navbar-title {
    font-size: xx-large;
    font-weight: bolder;
}

.burger {
    display: none;
}

nav {
    width: 90%;
}
/* todo: style better in general for smaller/midsize screens e.g. around 800 px nav links start to overlap*/

@media screen and (max-width: 650px) {
    .Navbar {
        width: 100%;
    }
    .Navbar-title {
        width: 100%;
        padding: 0.5em;
        display: flex;
        align-content: center;
    }
    .Navbar li {
        display: none;
        width: 100%;
    }
    .Navbar ul {
        width: 100%;
        margin-left: 0;
    }
    .highlighted-link a {
        width: 100%;
        font-size: 1.2em;
    }
    .Navbar li:hover {
        width: 100%;
        background-color: rgb(144, 49, 165)
    }
    .Nav-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin-left: 0;
    }
    .content {
        padding: none;
    }
    .Navbar-open {
        display: block;
        width: 100%;
        padding: none;
    }
    .Navbar-open li {
        display: block;
        font-size: 1em;
        width: 100%;
        background-color: rgb(121, 30, 142);
        padding: 0.25em;
    }
    
    .Navbar-open .burger-toggle {
        display: block;
    }
    .Navbar-open {
        display: block;
    }
    .Navbar .burger {
        position: absolute;
        display: block;
        top: 0;
        bottom: auto;
        right: 0;
        cursor: pointer;
        background: unset;
        padding: 1em;
    }
    .Navbar .burger svg {
        stroke: white;
    }
    .Navbar button {
        border: none;
    }
    #close-button {
        display: none;
    }
    .burger-open #open-button {
        display: none;
    }
    .burger-open #close-button {
        display: block;
    }
}