@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@keyframes backgroundDrift {
  0%   { background-position-y:  100%; }
  100% { background-position-y: -100%; }
}

body {
  animation: 120s linear infinite backgroundDrift;
  /* background-color: rgb(0, 128, 128); */
  /* background-color: rgb(13, 87, 87); */
  background-color: rgb(38, 56, 56);

  /* background-size: 35px 35px; */
  background-size: 15px 15px, 45px 45px;
  /* background-image:
    linear-gradient(to right, white 1px, transparent 1px),
    linear-gradient(to bottom, white 1px, transparent 1px); */
    background-image:
    linear-gradient(to bottom, transparent 5px, rgb(38, 56, 56) 5px),
    linear-gradient(to right, rgb(149, 241, 253) 1px, transparent 1px),
    linear-gradient(to right, transparent 5px, rgb(38, 56, 56) 5px),
    linear-gradient(to bottom, rgb(149, 241, 253)1px, transparent 1px);
    
  font-family: 'Ubuntu', sans-serif;
  color: white;
  padding: 4em;
}

a {
  text-decoration: none;
  color: aliceblue;
}

button {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: aliceblue;
  font-size: 1em;
}

.highlighted-link a:hover {
  color:rgb(202, 203, 243);
}

.text-module {
  background-color: rgb(75, 0, 125);
  /* padding: 0.5em; */
  margin-top: 1.5em;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #00f8aa;
  border-bottom: 2px solid white;
  border-left: 1px solid white;
}

.text-module p {
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.text-module.boilerplate{
  /* display: flex; */
  padding-top: 0.5em;
}

.module-button {
  float: right;
  color: black;
  background-color: rgb(168, 170, 173);
  border-color: #8562ee #f8c5fa #f8c5fa #8562ee ;
  text-align: center;
  border-width: 3px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
  height: 28px;
  width: 28px;
  margin-right: 0.2em;
}

.page-title {
  display: flex;
  width:100%;
  height: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(61, 11, 107);
  border-radius: 5px;
  /* padding-top: 0.2em; */
  padding-bottom: 2em;
  color: black;
  box-shadow: inset 0 0 20px #00f8aa;
  /* border-color: white; */
  border-bottom: 2px solid white;
  border-left: 1px solid white;
}

h2, h3, h4 {
  padding-left: 1em;
}

.window-title {
  display: flex;
  height: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* height: fit-content; */
  background-color: rgb(202, 203, 243);
  width: 100%;
  color: black;
  border-radius: 5px 5px 0 0;
  /* border-left: 1px solid white; */
  box-shadow: inset 0px 5px 10px 0px #686dfa;
}

.graph-container {
  background-color: rgb(75, 0, 125);
  margin-top: 1.5em;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #00f8aa;
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 1.5em; */
}
/* TODO: wip thing was thinking to do but may removeor come back to */
/* .graph-tab {
  position: relative;
  top: -50px;
  height: 50px;
  width: 50%;
  background-color: rgb(75, 0, 125);
} */

.no-border {
  box-shadow: none;
}

@media screen and (max-width: 1000px) {
  body {
    padding: 2em
  }
}

@media screen and (max-width: 650px) {
  body {
    padding: 0;
    margin: 0;
  }
  .page-content {
    padding: 2em
  }
}

@media screen and (max-width: 450px) {
  body {
    padding: 0;
    margin: 0;
  }
  .page-content {
    padding: 1em
  }
}
